<div class="container text-center">
  <%= form_with url: "/recipes", class:"form-simple", method: :post do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :story %>
  <%= form.text_area :story %>
  <%= form.label :ingredient, "Ingredients Needed" %>
  <div class="line-ingredient">
    <%= form.text_field :ingredient, class:"ingredient", placeholder:"Ingredient" %>
    <%= form.text_field :amount, class:"amount", placeholder:"Amount" %>
    <%= form.text_field :unit, class:"unit", placeholder:"Unit" %>
  </div>
  <%= image_tag "icons/plus-circle.svg", :alt => "add", id:"ingredient-add" %><br>
  <%= form.submit "Create Recipe" %>
<% end %>
</div>

